<div>
      <%= f.label :name, "ユーザー名" %><br>
      <%= f.text_field :name  %><br>
      <%= f.label :email, "メールアドレス又はログインID(ログインで使用)" %><br>
      <%= f.text_field :email  %><br>
      <%= f.label :password, "パスワード" %><br>
      <%= f.text_field :password  %><br>
</div>
