<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">編集する</h1>
      <%= form_for(@post, url: post_path(@post), html: {method: :put}) do |f|%>
      <div class="form">
        <div class="form-body">
          <% @post.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
          <p>タイトル</p>
          <%= f.text_field :title %>
          <p>内容</p>
          <%= f.text_area :content %>
          <p>締め切り</p>
          <%= f.date_field :deadline %>
          <!--編集前のステータス確認用変数num-->
          <%if @post.status == "未着手"
            num = [true,false,false]
          elsif @post.status == "着手中"
            num = [false,true,false]
          elsif  @post.status == "完了"
            num = [false,false,true]
            else num = [false,false,false]
            end%>
          <br>
          <label><%= f.radio_button(:status, :未着手, {:checked => num[0]})%> 未着手 </label>
          <label><%= f.radio_button(:status, :着手中, {:checked => num[1]})%> 着手中 </label>
          <label><%= f.radio_button(:status, :完了, {:checked => num[2]})%> 完了 </label>
          <br>優先度：
          <%if @post.priority == "大"
            num2 = [true,false,false]
          elsif @post.priority == "中"
            num2 = [false,true,false]
          elsif  @post.priority == "小"
            num2 = [false,false,true]
          else num2 = [false,false,false]
            end%>
          <label><%= f.radio_button(:priority, :大, {:checked => num2[0]})%> 大 </label>
          <label><%= f.radio_button(:priority, :中, {:checked => num2[1]})%> 中 </label>
          <label><%= f.radio_button(:priority, :小, {:checked => num2[2]})%> 小 </label>
          <br>
          <input class="btn btn-success btn-sm" type="submit" value="保存">
        </div>
      </div>
      <% end %>
  </div>
</div>
