<div class="main posts-index">

  <%= form_tag posts_path, method: 'get' ,class: "search" do %>

  ステータス:
      <%= select_tag :status, options_for_select(Task.statuses, :selected => params[:status]), :include_blank => true %>
  ワードで検索:
      <%= text_field_tag :word, params[:word] %>
  ラベルで検索:
      <%= select_tag :label, options_for_select(@labels.pluck(:name).uniq,:selected => params[:label]),  :include_blank => true %>

  <%= submit_tag "検索", class: 'btn btn-info' %>

  <% end %>
  <%= link_to "全タスク一覧", posts_path, class: 'btn btn-primary' %>
  <div class="container">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= sortable "user_id", "ユーザー名" %></th>
            <th><%= sortable "title", "タイトル" %></th>
            <th>ラベル<i class="fa fa-tags" aria-hidden="true"></i></th>
            <th>ラベル追加</th>
            <th><%= sortable "deadline", "締め切り" %></th>
            <th><%= sortable "created_at", "登録日" %></th>
            <th><%= sortable "status", "ステータス" %></th>
            <th><%= sortable "priority", "優先度" %></th>
          </tr>
        </thead>
        <tbody>
          <% @posts.each do |post| %>
            <tr>
              <td class="posts-index-item"><%= link_to(post.user.name, user_path(post.user)) %></td>
              <td class="posts-index-item"><%= link_to(post.title, post_path(post)) %></td>
              <td>
                <% post.labels.each do |l|  %>
                <%= link_to l.name, edit_label_path(l, task_id: post.id) %>
                <% end %>
              </td>
              <td>
                <%= link_to new_label_path(task_id: post.id) do %>
                  <i class="fa fa-plus" aria-hidden="true"></i></a>
                <% end %>
              </td>
              <td class="posts-index-item"><%= post.deadline %></td>
              <td class="posts-index-item"><%= post.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
              <td class="posts-index-item"><%= post.status%></td>
              <td class="posts-index-item"><%= post.priority%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= paginate @posts %>
  </div>
</div>
