<div class="main posts-index">
  <div class="container">
    <table>
      <thead>
        <tr>
          <th><%= sortable "title", "タイトル" %></th>
          <th><%= sortable "deadline", "締め切り" %></th>
          <th><%= sortable "created_at", "登録日" %></th>
          <th><%= sortable "status", "ステータス" %></th>
        </tr>
      </thead>

      <tbody>
        <% @posts.each do |post| %>
        <!--ステータス読み替え-->
        <%if post.status == 1
          status_trans = "未着手"
          elsif post.status == 2
          status_trans = "着手中"
          elsif  post.status == 3
          status_trans = "完了"
          else status_trans = nil
          end%>
          <tr>
            <td class="posts-index-item"><%= link_to(post.title, "/posts/#{post.id}") %></td>
            <td class="posts-index-item"><%= post.deadline %></td>
            <td class="posts-index-item"><%= post.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
            <td class="posts-index-item"><%= status_trans%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
