<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">投稿する</h1>
    <%= form_for(@post, url: posts_path) do |f| %>
    <div class="form">
      <div class="form-body">
        <% @post.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
        <li>
          <div class="form-group">
            <%= f.label :title, "タイトル"%>
            <%= f.text_field :title, class: "form-control" %>
          </div>
        </li>
        <li>
          <div class="form-group">
            <%= f.label :content, "内容" %>
            <%= f.text_area :content, class: "form-control" %>
          </div>
          </li>
        <li>
          <div class="form-group">
            <%= f.label :deadline, "締め切り" %>
            <%= f.date_field :deadline, class: "form-control" %>
          </div>
        </li>
        <h6>ステータス</h6>
        <label><%= f.radio_button(:status, :未着手,{:checked => true})%> 未着手 </label>
        <label><%= f.radio_button(:status, :着手中)%> 着手中 </label>
        <label><%= f.radio_button(:status, :完了)%> 完了 </label>
        <br>
        <h6>優先度</h6>
        <label><%= f.radio_button(:priority, :大)%> 大 </label>
        <label><%= f.radio_button(:priority, :中)%> 中 </label>
        <label><%= f.radio_button(:priority, :小)%> 小 </label>
        <br><br>
        <%= submit_tag("投稿", class: 'btn btn-info')%>
      </div>
    </div>
    <% end %>
  </div>
</div>
