<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">投稿する</h1>
    <%= form_tag("/posts/create") do %>
    <div class="form">
      <div class="form-body">
        <% @post.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
        <p>
          <!--タイトル<textarea name="title"></textarea>-->
          タイトル<%= text_field_tag :title %>
        </p>
        <p>
          <!--内容<textarea name="content"></textarea>-->
          内容<%= text_area_tag :content %>
        </p>
        <p>
          <!--締め切り<textarea name="deadline"></textarea>-->
          締め切り<%= date_field_tag :deadline %>
        </p>
        <label><%= radio_button_tag(:status, 1,true)%> 未着手 </label>
        <label><%= radio_button_tag(:status, 2)%> 着手中 </label>
        <label><%= radio_button_tag(:status, 3 )%> 完了 </label>
        <br>
        <input type="submit" value="投稿">
      </div>
    </div>
    <% end %>
  </div>
</div>
