<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <h3>
        <%= @post.title%>
      </h3>
      <h6>
        <%= @post.content%>
      </h6>
      <div class="post-time">
        <%= @post.created_at.strftime("登録日 %Y-%m-%d %H:%M:%S") %>
      </div>
      <div class="deadline">
        締め切り <%= @post.deadline%>
      </div>
      <div class="status">
        ステータス :<%= @post.status%>
      </div>
      <div class="priority">
        優先度 :<%= @post.priority%>
      </div>
      <div class="post-menus">
        <button type="button" class="btn btn-default"><%= link_to("編集", "/posts/#{@post.id}/edit") %></button>
        <button type="button" class="btn btn-default"><%= link_to("削除", "/posts/#{@post.id}/destroy", {method: "post"}) %></button>
      </div>
    </div>
  </div>
</div>
