<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <h3>
        <%= @post.title%>
      </h3>
      <h6>
        <%= @post.content%>
      </h6>
      <div class="post-user-name">
        <%= link_to(@user.name, user_path(@user))%>
      </div>
      <div class="post-time">
        <%= @post.created_at.strftime("登録日 %Y-%m-%d %H:%M:%S") %>
      </div>
      <div class="deadline">
        締め切り <%= @post.deadline%>
      </div>
      <div class="status">
        ステータス :<%= @post.status%>
      </div>
      <div class="priority">
        優先度 :<%= @post.priority%>
      </div>
      <% if @post.user_id == @current_user.id %>
        <div class="post-menus">
          <button type="button" class="btn btn-default"><%= link_to("編集", edit_post_path(@post)) %></button>
          <button type="button" class="btn btn-default"><%= link_to("削除", post_path(@post), {method: :delete}) %></button>
        </div>
      <% end %>
    </div>
  </div>
</div>
